.buttonContainer {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.deleteContainer {
  position: relative;
}

%buttons {
  padding: 6px 18px;
  color: #52c41a;
  font-size: 14px;
  border: 1px solid #52c41a;
  background: none;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: #52c41a;
    color: #ffffff;
  }
}

.buttonEdit {
  @extend %buttons;
}

.buttonDelete {
  @extend %buttons;
  color: #f5222d;
  border-color: #f5222d;

  &:hover {
    background: #f5222d;
  }
}

.modalContainer {
  tab-index: 10;
  position: absolute;
  top: 0;
  left: 113%;
  box-sizing: border-box;
  height: 100px;
  width: 240px;
  padding: 12px 18px;
  background: #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: -6px;
    background: #ffffff;
    tab-index: 11;
    transform: rotate(45deg);
  }
}

.modalText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  display: block;
  padding-left: 24px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    height: 18px;
    width: 18px;
    background-image: url('./iconWarning.png');
    background-size: contain;
  }
}

.modalButtonsContainer {
  display: flex;
}

%modalButtons {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;

  box-sizing: border-box;
  padding: 1px 8px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: #52c41a;
    border-color: #52c41a;
    color: #ffffff;
  }
}

.buttonConfirm {
  @extend %modalButtons;
  border: none;
  background: #1890ff;
  color: #ffffff;

  &:hover {
    border-color: #f5222d;
    background: #f5222d;
  }
}

.buttonDecline {
  @extend %modalButtons;
  margin-left: auto;
  margin-right: 8px;
}
