body,
html {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4em;

  background-color: #e5e5e5;
}

.ant-pagination-item-active {
  border: none;
  background: #1890ff;
  border-radius: 4px;
}

.ant-pagination-item-active a {
  color: #ffffff;
  font-weight: 400;
}

.ant-pagination-item-active:hover a {
  color: #ffffff;
}
